extends _Layout

block metas 
  title Home de mi sitio con express js
  meta(name="descripcion", content="Descripción de la página del Home")

block content 
  main.container
    h1 Home de mi sitio
    nav
      ul 
        li
          a(href="/contacto") Contacto (.html)
        li
          a(href="/git") Git (.md)
        li
          a(href="/nodeJs") Node (.md)


